#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.articles-list {
  max-width: 600px;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
  padding: 0px;
}

.article-title-div {
  border-radius: 5px;
  padding: 0px;
}

.app-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: plum;
  position: relative;
  margin: 20px;
}

.article-author {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.article-image {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.article-votes {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.article-title-h2 {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
}

.article-title-h2:hover {
  color: orange;
  text-shadow: 1.5px 3px 5px rgba(255, 223, 154, 0.897);
}

.article-body {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
}

#single-article-image {
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
}

.comment-author {
  padding-left: 10px;
}

.comment-div {
  display: flexbox;
  align-self: center;
  margin: 5px;
  max-width: 750px;
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
  border-radius: 5px;
}

.nav-elements ul {
  display: flex;
  justify-content:space-around;
  list-style-type: none;
}

.nav-elements ul li {
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
  border-radius: 5px;
  padding: 10px;
}

.nav-elements ul li:hover {
  background-color: #b2d5fd;

}

.like-button {
  background-color: white;
  position: relative;
}

.comment-button {
  color: black;
  background-color: white;
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);
  margin: 20px;
}

#comment-form{
  color: black;
  background-color: white;
  width: 750px;
  height: auto;
}

.comment-post-div {
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
}

.topic-name {
  padding: 10px;
}

.topic-name li{
  list-style-type: none;
}

.topic-card {
  box-shadow: 3px 6px 10px rgba(184, 184, 184, 0.897);

}

.topic-desc {
  padding: 10px;
}

.single-topic-h2 {
  color: #747bff;
  margin-top: 50px;
}